$color-accent: #c59b27; // Золотой/кофейный
$color-bg: #f9f6f0;
$color-dark: #1e1b18;    // Глубокий кофейный / почти черный
$color-accent: #d4af37;  // Золотой / цвет обжаренного зерна
$color-light: #fdfaf6;   // Сливочный фон
// $color-dark: #1a1a1a;

// Адаптивная сетка (Брейкпоинты для Media Queries) Размеры экранов
$phone: 480px;
$screen-tablet: 768px; // Планшеты и большие мобильные
$screen-desktop: 1024px; // Ноутбуки и компьютеры

// Переменные (цвета из Figma, шрифты)

// Цвета из Figma
