# Зависимости (тяжелые папки ИИ и библиотек)
node_modules/
jspm_packages/

# Сборка и временные файлы компиляторов
.sass-cache/
.eslintcache
*.css.map
*.js.map

# Системные файлы операционных систем
.DS_Store
Thumbs.db

# Локальные конфигурации бэкенда и секретные ключи (пароли к базам данных)
.env
.env.local

# Виртуальные окружения Python (все вариации папки venv)
venv/
.venv/
env/
ENV/
pyenv/

# дополнительная информация для меня
*.txt


