/* Error: Can't find stylesheet to import.
 *   ,
 * 3 | @use 'mixins' as m; // Подключаем миксины как объект 'm'
 *   | ^^^^^^^^^^^^^^^^^^
 *   '
 *   src\sass\main.scss 3:1  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Can't find stylesheet to import.\a   \2577 \a 3 \2502  @use 'mixins' as m; // \41f \43e \434 \43a \43b \44e \447 \430 \435 \43c  \43c \438 \43a \441 \438 \43d \44b  \43a \430 \43a  \43e \431 \44a \435 \43a \442  'm'\d\a   \2502  ^^^^^^^^^^^^^^^^^^\a   \2575 \a   src\\sass\\main.scss 3:1  root stylesheet";
}
